<!DOCTYPE html>
{% extends 'index.html' %}
{% block content%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Decor and Furniture</title>
</head>
<body>
<div class="row" style="margin-top:100px;width:1100px">
            <div class="col-md-12">
              <div class="card">
                <div class="table-responsive pt-3">
                  <table class="table table-striped project-orders-table">
                    <thead>
                      <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Message</th>
                          <th>Option</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for i in data %}
                    <tr>
                        <td>{{i.first_name}}</td>
                        <td>{{i.last_name}}</td>
                        <td>{{i.email_ad}}</td>
                        <td>{{i.message}}</td>
                        <td>
                            <a href="{% url 'contact_delete' pro_id=i.id %}">
                                <button type="button" class="btn btn-danger btn-sm btn-icon-text">
                              Delete
                                    <i class="typcn typcn-delete-outline btn-icon-append"></i>
                                </button>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
</div>
</body>
</html>
{% endblock %}



<a href="{% url 'delete_page' pro_id=i.id %}">
                                  <button type="button" class="btn btn-danger btn-sm btn-icon-text">
                              Delete
                                    <i class="typcn typcn-delete-outline btn-icon-append"></i>
                                  </button>
                              </a>


